.test-surface, .details, .none {
  background-color: #EBEBF1;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  -webkit-user-select: none;
  font-size: 18px;
  border-bottom: 1px solid gray;
}